.filter-btn {
    padding: .3em .8em;
    border-radius: 4px;
    margin: 0 .3em .3em 1.5em;
    color: rgb(24, 24, 70);
    background-color: rgba(82, 82, 243, .1);
    font-weight: bold;

    &:hover {
        background-color: rgba(82, 82, 243, .2); 
    }
}