img {
    width: 100%;
}

.grid {
    @include atMedium {
        display: grid;
        grid-column-gap: 50px;
        grid-template-columns: auto auto auto;
    }
}

.img-container {
    margin: 2em auto;
    background-color: rgba(82, 82, 243, .6);
    height: 200px;
    width: 300px;
}